<nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink = "employee-list" routerlinkActive ="active" class="nav-link">Employee List</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink = "add-employee" routerlinkActive ="active" class="nav-link">Add Employee</a>
        </li>
    </ul> 

</nav>

<h1 class="text-center">Angular Frontend</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2021 @diasedd</span>
    </div>
</footer>